---
import { getCollection } from 'astro:content';
import { Picture } from '@astrojs/image/components';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';


const councils = [
	{
		name: 'Executive Committee',
		slug: 'exco',
	},
	{
		name: 'Publications Committee',
		slug: 'pubcom',
	},
];
---

<Layout title="About">
	<Container>
		<Sectionhead>
			<Fragment slot="title">About</Fragment>
			<Fragment slot="desc">Meet the High School Council</Fragment>
		</Sectionhead>

		<div class="flex flex-col gap-3 mx-auto max-w-4xl mt-5">
			<img src="/full-council-pic.jpeg" alt="Formal Council group photo" class="mx-auto w-5/6 aspect-[16/9] object-cover" />
			<h2 class="font-bold text-3xl text-gray-800 mt-5 text-center">
				Who are we?
			</h2>
			<p class="text-lg leading-relaxed text-slate-500">
				The High School Council is the highest echelon of leadership in Hwa Chong Institution. It oversees many of the key events occurring within the school. Events that fall under the council’s purview, range from intra-school events such as the Secondary One Orientation, to inter-school events like the Hwa Chong-Nanyang Combined Sports Meet, and even international events such as the annual Student Leaders’ Convention.
			</p>
			<p class="text-lg leading-relaxed text-slate-500">
				The council comprises 26 students selected from the secondary 4 level and 8 students from the secondary 3 consortium councils, inclusive of the chairmen and 1 other representative from their respective executive committees. The council strives to act as a bridge between students and the faculty, aiming to enrich the students’ welfare as well as to be their voice, often after taking into account their needs and opinions.
			</p>
		</div>

		<h2 class="font-bold text-3xl text-gray-800 mt-12 text-center">
			Committees
		</h2>
		<div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-7">
			<!-- cards as links that leads to the specific council pages -->
			{councils.map((council) => (
				<a href={`/councils/${council.slug}`} class="flex flex-col items-center justify-center gap-3 p-5 rounded-lg shadow-md hover:shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">

					<h2 class="font-bold text-2xl text-gray-800">
						{council.name}
					</h2>
				</a>
			))
			}
		</div>
	</Container>
</Layout>
