---
import { Icon } from 'astro-icon/components';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';
import Button from '@components/ui/button.astro';
import Contactform from '@components/contactform.astro';
---

<!--
	<div id="mc_embed_shell">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
        #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: px;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
    <form action="https://app.us22.list-manage.com/subscribe/post?u=82b7e1dc26ee823f289442f29&amp;id=8a3ffb3e89&amp;f_id=005bcee1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll"><h2>HSC Updates</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div><div class="mc-field-group"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div><div class="mc-field-group"><label for="mce-LNAME">Last Name </label><input type="text" name="LNAME" class=" text" id="mce-LNAME" value=""></div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_82b7e1dc26ee823f289442f29_8a3ffb3e89" tabindex="-1" value="">
    </div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                <p style="margin: 0px auto;"><a href="http://eepurl.com/iQL7G2" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>

-->

<Layout title="Contact">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Contact Us</Fragment>
			<Fragment slot="desc">Shoot us an email for any inquiries you may (or may not) have</Fragment>
		</Sectionhead>

		<div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
			<div>
				<h2 class="font-medium text-2xl text-gray-800">Contact Us</h2>
				<p class="text-lg leading-relaxed text-slate-500 mt-3">
          			Have something to say? We are here to help. Fill up the form or send us an email.
				</p>
				<div class="mt-5">
					<div class="flex items-center mt-2 space-x-2 text-gray-600">
						<Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
							href="mailto:hsc@hci.edu.sg"
						>hsc@hci.edu.sg</a
						>
					</div>
					<!-- instagram -->
					<div class="flex items-center mt-2 space-x-2 text-gray-600">
						<Icon class="text-gray-400 w-4 h-4" name="uil:instagram" /><a
							href="https://www.instagram.com/hwachonghsc"
						>@hwachonghsc</a
						>
					</div>
				</div>
			</div>
			<div>
				<Contactform />
			</div>
		</div>
		<p class="text-center mt-10 text-gray-700">
			If you have a feature request or bug report regarding this <i>specific</i> website, please go to <a href='https://github.com/EC3-Gang/hsc-site/issues' target="_blank" class="text-blue-500 hover:text-blue-700">the official issue tracker</a>.
		</p>
	</Container>
</Layout>
