---
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';
import packageJSON from '../../package.json';

const dependencies = [Object.keys(packageJSON.dependencies), Object.keys(packageJSON.devDependencies)].flat();
---

<Layout title='Credits and License'>
	<Container>
		<Sectionhead>
			<Fragment slot='title'>Credits and License</Fragment>
			<Fragment slot='desc'>Certain legal matters you probably don't wanna know about</Fragment>
		</Sectionhead>
		<div class="prose mx-auto max-w-4xl mt-5">
			<div class='flex flex-col'>
				<h1 class="font-bold text-3xl text-gray-800 mt-5 text-center mb-0">Credits</h1>
				<p class="text-lg leading-relaxed text-slate-500 w-4/5 mx-auto">
					This site was commissioned by Hwa Chong Institution's High School Council (HCI HSC), and was made by Du Yuancheng and the <a href="https://www.ec3.dev">Electronics Communications and Computing Club (EC<sup>3</sup>)</a>.
					<br />
					Pictures and blog posts contributed by various members of the HSC.
				</p>
				<h1 class="font-bold text-3xl text-gray-800 mt-5 text-center mb-0">License</h1>
				<p class="text-lg leading-relaxed text-slate-500 w-4/5 mx-auto">
					The site is distributed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html#license-text">GNU General Public License v3.0 (GPL-3.0)</a>.
					Original template made by <a href="https://web3templates.com/">Web3Templates</a>.

					<br /><br />

					Portaits and blog posts are licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
				</p>

				<h1 class="font-bold text-3xl text-gray-800 mt-5 text-center mb-0">Libraries</h1>
				<p class="text-lg leading-relaxed text-slate-500 w-4/5 mx-auto">
					Open source libraries that made this site possible:
					<!-- wrap packages in code tags and display in 4 colums -->
					<div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-5 mx-auto">
						{dependencies.map((dep) => (
							<code>{dep}</code>
						))}
					</div>
				</p>
			</div>
		</div>
	</Container>
</Layout>