---
import Container from '@components/container.astro';
import Link from '@components/ui/link.astro';
import Dropdown from './dropdown.astro';
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';
import Themeicon from './themeicon.astro';

const menuitems: {
	title: string;
	path: string;
	children?: {
		title: string;
		path: string;
	}[];
}[] = [
	{
		title: 'About',
		path: '/about',
	},
	{
		title: 'Blog',
		path: '/blog',
	},
	{
		title: 'Events',
		path: '/events',
	},
	{
		title: 'Initiatives',
		path: '/initiatives',
	},
	{
		title: 'Contact Us',
		path: '/contact',
	},
];
---

<Container>
	<header class="nightwind-prevent flex flex-col md:flex-row relative items-center my-5 h-10 bg-transparent z-50">
		<Astronav>
			<div class="flex w-full md:w-auto items-center justify-between">
				<a href="/" class="text-2xl italic raleway" id="logo"
				><span class="text-red-400 font-bold nightwind-prevent-block">One</span><span
						class="text-[rgb(169,185,207)] font-light">HwaChong</span
					>
				</a>
				<div class="flex md:hidden">
					<MenuIcon class="w-4 h-4 text-[rgb(169,185,207)] mr-4 mt-[2.8px]" />
					<Themeicon />
				</div>
			</div>
			<MenuItems class="hidden w-full md:w-auto md:flex md:mt-0 ml-auto">
				<ul class="flex flex-col md:flex-row md:gap-3">
					{
						menuitems.map((item, index) => (
							<>
								{item.children && (
									<Dropdown
										title={item.title}
										children={item.children}
										lastItem={index === menuitems.length - 1}
									/>
								)}

								{!item.children && (
									<li>
										<a
											href={item.path}
											class="flex md:px-3 py-2 text-[rgb(147,163,184)] hover:text-[rgb(133,148,168)]">
											{item.title}
										</a>
									</li>
								)}
							</>
						))
					}
				</ul>
			</MenuItems>
			<Themeicon class="hidden md:block ml-3 z-50" />
		</Astronav>
	</header>
</Container>