---
import Container from '@components/container.astro';
import Link from '@components/ui/link.astro';
import Dropdown from './dropdown.astro';
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';

const menuitems: {
	title: string;
	path: string;
	children?: {
		title: string;
		path: string;
	}[];
}[] = [
	{
		title: 'About',
		path: '/about',
	},
	{
		title: 'Blog',
		path: '/blog',
	},
	{
		title: 'Events',
		path: '/events',
	},
	{
		title: 'Initiatives',
		path: '/initiatives',
	},
	{
		title: 'Contact',
		path: '/contact',
	},
];
---

<Container>
	<header class="flex flex-col sm:flex-row justify-between items-center my-5">
		<Astronav>
			<div class="flex w-full sm:w-auto items-center justify-between">
				<a href="/" class="text-2xl italic raleway" id="logo"
				><span class="text-red-600 font-bold">One</span><span
						class="text-slate-700 font-light">HwaChong</span
					>
				</a>
				<div class="block sm:hidden">
					<MenuIcon class="w-4 h-4 text-gray-800" />
				</div>
			</div>
			<MenuItems class="hidden w-full sm:w-auto mt-2 sm:flex sm:mt-0">
				<ul class="flex flex-col sm:flex-row sm:gap-3">
					{
						menuitems.map((item, index) => (
							<>
								{item.children && (
									<Dropdown
										title={item.title}
										children={item.children}
										lastItem={index === menuitems.length - 1}
									/>
								)}

								{!item.children && (
									<li>
										<a
											href={item.path}
											class="flex sm:px-3 py-2 text-gray-600 hover:text-gray-900">
											{item.title}
										</a>
									</li>
								)}
							</>
						))
					}
				</ul>
			</MenuItems>
		</Astronav>
	</header>
</Container>