---
import { Picture } from '@astrojs/image/components';
import Link from '@components/ui/link.astro';
import { Icon } from 'astro-icon';
---

<main
	class="pt-16 pb-8 md:pt-12 md:pb-24 h-[36rem]"
	style="background-image: url('/homebg.png'); background-size: cover; background-position: center;">
	<div class="flex justify-center items-center flex-col h-full">
		<h1
			class="text-4xl lg:text-5xl lg:tracking-tight xl:tracking-tighter italic text-slate-200 raleway">
      One<span class="font-bold">HwaChong</span>
		</h1>
		<p class="text-lg mt-4 text-slate-400 leading-relaxed mb-7">
      A publication brought to you by the High School Council
		</p>
		<Link href="/about" style='outline' class='bg-transparent hover:bg-opacity-100 border-slate-300 text-slate-300 hover:text-slate-700'>
			About Us
		</Link>
	</div>
</main>
