---
import { Picture } from '@astrojs/image/components';
import Link from '@components/ui/link.astro';
import { Icon } from 'astro-icon';
---

<main
	class="h-[36rem]"
	style="background-image: url('/homebg.png'); background-size: cover; background-position: center;">
	<div class="flex justify-center items-center flex-col h-full">
		<h1
			class="text-4xl lg:text-5xl lg:tracking-tight xl:tracking-tighter italic text-slate-200 raleway">
			<span class="text-red-500">One</span><span class="font-light">HwaChong</span>
		</h1>
		<p class="text-xl mt-4 text-slate-200 leading-relaxed mb-7 w-2/5 raleway">
      Showcasing events, online initiatives, and student feedback. A hub for information, communication, and engagement.
		</p>
		<Link href="/about" style='outline' class='bg-transparent hover:bg-opacity-100 border-slate-300 text-slate-300 hover:text-slate-700'>
			About Us
		</Link>
	</div>
</main>
