---
import { getCollection } from 'astro:content';
import { Picture } from '@astrojs/image/components';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection('council', ({ data }) => {
	return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Executive Committee</Fragment>
			<Fragment slot="desc"></Fragment>
		</Sectionhead>

		<div class="flex flex-col gap-3 mx-auto max-w-4xl mt-5">
			<p class="text-lg leading-relaxed text-slate-500">
				The High School Council is the highest echelon of leadership in Hwa Chong Institution. It oversees many of the key events occurring within the school. Events that fall under the council’s purview, range from intra-school events such as the Secondary One Orientation, to inter-school events like the Hwa Chong-Nanyang Combined Sports Meet, and even international events such as the annual Student Leaders’ Convention.
			</p>
			<p class="text-lg leading-relaxed text-slate-500">
				The council comprises 26 students selected from the secondary 4 level and 8 students from the secondary 3 consortium councils, inclusive of the chairmen and 1 other representative from their respective executive committees. The council strives to act as a bridge between students and the faculty, aiming to enrich the students’ welfare as well as to be their voice, often after taking into account their needs and opinions.
			</p>
		</div>

		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
			{
				publishedTeamMembers.map((teamMemberEntry) => (
					<div class="group">
						<div class="w-full aspect-square">
							<Picture
								src={teamMemberEntry.data.avatar.src}
								alt={teamMemberEntry.data.avatar.alt}
								sizes="(max-width: 800px) 100vw, 400px"
								widths={[200, 400]}
								aspectRatio="1:1"
								background="#ffffff"
								fit="cover"
								position="center"
								class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
							/>
						</div>

						<div class="mt-4 text-center">
							<h2 class="text-lg text-gray-800">
								{teamMemberEntry.data.name}
							</h2>
							<h3 class="text-sm text-slate-500">
								{teamMemberEntry.data.title}
							</h3>
						</div>
					</div>
				))
			}
		</div>
	</Container>
</Layout>
