---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection('council', ({ data }) => {
	return !data.draft && data.committee == 'pub';
});

---

<Layout title="About">
	<Container transition:name='pubcom'>
		<Sectionhead>
			<Fragment slot="title">Publications Committee</Fragment>
			<Fragment slot="desc">Keeping you up to date</Fragment>
		</Sectionhead>

		<div class="flex flex-col gap-3 mx-auto max-w-4xl mt-5">
			<p class="text-lg leading-relaxed text-slate-500">
				The Publication Committee is in charge of maintaining and updating the High School Council’s social media accounts, in order to project a positive image of our school and the HSC to others. It is also in charge of publicising school events and initiatives to the student body, as well as providing a platform for students and teachers to voice their opinions.
			</p>
		</div>

		<h2 class="mt-12 text-3xl font-bold text-gray-800 text-center">
			Members
		</h2>


		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
			{
				publishedTeamMembers.map((teamMemberEntry) => (
					<div class="group">
						<div class="w-full aspect-square">
							<img src={teamMemberEntry.data.avatar.src} alt={teamMemberEntry.data.name} class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl aspect-[4/5] object-cover" />
						</div>


						<div class="mt-4 text-center">
							<h2 class="text-lg text-gray-800">
								{teamMemberEntry.data.name.toLowerCase().replace(/(^\w|\s\w)/g, (m: string) => m.toUpperCase())}
							</h2>
							<h3 class="text-sm text-slate-500">
								{teamMemberEntry.data.title}
							</h3>
						</div>
					</div>
				))
			}
		</div>
	</Container>
</Layout>
