---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection('council', ({ data }) => {
	return !data.draft && data.committee == 'welfare';
});

---

<Layout title="About">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Welfare Committee</Fragment>
			<Fragment slot="desc">Ensuring your wellbeing</Fragment>
		</Sectionhead>

		<div class="flex flex-col gap-3 mx-auto max-w-4xl mt-5">
			<p class="text-lg leading-relaxed text-slate-500">
				The Welfare Committee is the main body of the HSC which cares for and upkeeps student welfare. Other than implementing certain initiatives such as the new Weekly Specials and HCDelivery aimed at caring for the student body, it is also in charge of collating feedback. The committee is also in charge of the JTigerr room, located near the Popular Bookshop. Do look out for further updates about the committee’s work at the JTigerr Room, see you there!			</p>
		</div>

		<h2 class="mt-12 text-3xl font-bold text-gray-800 text-center">
			Members
		</h2>


		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
			{
				publishedTeamMembers.map((teamMemberEntry) => (
					<div class="group">
						<div class="w-full aspect-square">
							<picture>
								<source media="(max-width: 800px)" srcset={teamMemberEntry.data.avatar.src} />
								<img src={teamMemberEntry.data.avatar.src} alt={teamMemberEntry.data.name} class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl aspect-[4/5] object-cover" />
							</picture>
						</div>


						<div class="mt-4 text-center">
							<h2 class="text-lg text-gray-800">
								{teamMemberEntry.data.name.toLowerCase().replace(/(^\w|\s\w)/g, (m: string) => m.toUpperCase())}
							</h2>
							<h3 class="text-sm text-slate-500">
								{teamMemberEntry.data.title}
							</h3>
						</div>
					</div>
				))
			}
		</div>
	</Container>
</Layout>
